---
import OpenGraph from '@components/OpenGraph.astro'
import Social from '@components/ui/Social.astro'
import Layout from '@layouts/Layout.astro'

import BentoGrid from './_index/BentoGridSection.astro'
import Countdown from './_index/CountdownSection.astro'
import Hero from './_index/HeroSection.astro'
import SliderSection from './_index/SliderSection.astro'

const options = {
  title: 'JSConf Chile 2025 | La m치s prestigiosa conferencia de JavaScript',
  description:
    'Acomp치침anos en la tercera edici칩n de la JSConf Chile donde tendremos Charlistas internacionales, comunidad, aprendizaje y conexiones.'
}
---

<Layout options={options}>
  <OpenGraph
    description={options.description}
    image="/og/og.jpg"
    slot="social-media"
    title={options.title}
  />

  <main>
    <Hero />
    <Countdown />
    <BentoGrid />
    <SliderSection />
    <Social />
  </main>
</Layout>
