---
import Countdow from '@components/ui/Countdown.astro'
---

<section style={{ display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'center', minHeight: '100vh' }}>
  <Countdow />
</section>
