---
import Stars from '@components/ui/Stars.astro'
import { Icon } from 'astro-icon/components';
---

<header>
  <div>
    <img alt="JSConf Logo" src="https://placehold.co/315x122" />
    <h1> <a class="location-icon" href="/"> <Icon name="location" /></a>  En <span class="location-name">Santiago</span> de Chile</h1>
    <article>
      <h2>La conferencia de tecnología más esperada del país</h2>
      <p>
        Aprende de expertos, amplía tu red y descubre las últimas tendencias en
        JavaScript
      </p>
    </article>
  </div>
  <Stars />
</header>

<style>
  header {
    display: grid;
    place-items: center;
    height: 100dvh;
    color: var(--white);
    text-align: center;

    & img {
      width: 100%;
      max-width: 315px;
    }
  }
  .location-icon{
      display: inline-flex;
      align-items: center;
  }
  .location-name{
    color: var(--yellow-400);
  }
</style>
