---
import Stars from '@components/ui/Stars.astro'
import { Icon } from 'astro-icon/components';
---

<section>
  <div>
    <img alt="JSConf Logo" src="https://placehold.co/315x122" />
    <h1> <a class="location-icon" href="/"> <Icon name="location" /></a>  En <span class="location-name">Santiago</span> de Chile</h1>
    <article>
      <h2>La conferencia de tecnología más esperada del país</h2>
      <p>
        Aprende de expertos, amplía tu red y descubre las últimas tendencias en
        JavaScript
      </p>
    </article>
  </div>
  <Stars />
</section>

<style>
  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    color: var(--white);
    border-radius: 1rem;

    & div {
      position: absolute;
      text-align: center;

      & img {
        width: 100%;
        max-width: 315px;
      }
    }
  }
  .location-icon{
      display: inline-flex;
      align-items: center;
  }
  .location-name{
    color: var(--yellow-400);
  }
</style>
