---

---

<section style={{ display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'center', minHeight: '100vh' }}>
  <header>LOGO-magnifico</header>
  <h1>Aqui va la seccion del Hero</h1>
</section>
