---
import Card from '@ui/Card.astro';
---
  <div class="card-grid">
    <Card
      body="Learn how Astro works and explore the official API docs."
      title="Documentation"
    />
    <Card
      body="Need ideas for your next project? Check out the GitHub repo."
      title="GitHub"
    />
  </div>
  <div>
    <Card
      body="Supercharge your project with new frameworks and libraries."
      title="Integrations"
      vertical
    />
  </div>

<style>

</style>
