---
import Card from '@components/ui/Card.astro'
import Slider from '@components/ui/Slider.astro';
---

<section class="slider-container">
  <Slider />
  <Card
    body="Crear un escenario donde las personas, el conocimiento y la tecnología se encuentren para construir un futuro más inclusivo, innovador y conectado. En JSConf Chile, no solo se trata de JavaScript, se trata de lo que podemos lograr juntos"
    horizontal
    title="Nuestro propósito"
  />
</section>
<style>
  .slider-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    max-width: 1280px;
    margin: 48px auto;
    padding-inline: 68px;
  }

  @media (width<= 1024px) {
    .slider-container {
      padding-inline: 48px;
    }
  }

  @media (width<= 768px) {
    .slider-container {
      padding-inline: 24px;
    }
  }
</style>
