---
interface Props {
  title: string
  body: string
  horizontal?: boolean
}

const { title, body, horizontal } = Astro.props
---

<div class="info-card" class:list={horizontal ? 'horizontal' : ''}>
  <h3>{title}</h3>
  <p>{body}</p>
</div>
<style>
  .info-card {
    background-color: #0C0A09;
    border: 1px solid #292524;
    border-radius: 0.5rem;
    padding: 24px;
    gap: 1rem;

    & h3 {
      margin: 0 0 16px;
    }

    & p {
      margin: 0;
      color: var(--stone-500);
    }

    &.horizontal {
      display: flex;
    }
  }
</style>
