---
interface Props {
  title: string
  body: string
  vertical?: boolean
}

const { title, body, vertical } = Astro.props
---

<div class="info-card" class:list={vertical ? 'vertical' : ''}>
  <h2>{title}</h2>
  <p>{body}</p>
</div>
<style>
  .info-card {
    background-color: #0C0A09;
    border: 1px solid #292524;
    border-radius: 0.5rem;
    padding: 1.5rem;
    gap: 1rem;

    & p {
      color: #78716C;
    }

    &.vertical {
      display: flex;
    }
  }
</style>
