<footer>
  <p>
    Hecho con
    <video autoplay loop muted playsinline preload="metadata" src="/media/heart.webm" width="24"></video>
    por
    <a href="https://github.com/UXCorpRangel" target="_blank">UXCorpRangel</a>
  </p>
</footer>

<style>
  footer {
    padding-inline: 1rem;
    text-align: center;
  }
</style>
