---
import type { ImageMetadata } from 'astro'
import parallaxImages from '@data/parallax-images'
import { Picture } from 'astro:assets'
import ClickToScroll from './ClickToScroll.astro'
import Countdown from './Countdown.astro'

const getImages = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/parallax/*.{jpeg,jpg,png}'
);
---

<section class="parallax-container">
  <div class="information">
    <h2>La cuenta regresiva ha comenzado</h2>
    <Countdown />
  </div>
  <ClickToScroll href="#" title="Haz scroll y explora lo que te espera" />
  {
    parallaxImages.map(({ alt, src }, index) => (
      <Picture
        alt={alt}
        class={`parallax capa-${index}`}
        fetchpriority="low"
        formats={['avif', 'webp']}
        height={767}
        src={getImages[src]()}
        width={1146}
      />
    ))
  }
</section>

<style>
  .parallax-container {
    max-width: 1146px;
    margin: auto;
    padding-block: 250px 240px;
    padding-inline: 16px;
    text-align: center;
    position: relative;

    .information {
      padding-bottom: 200px;
      position: relative;
      z-index: 1;
    }

    h2 {
      font-size: 48px;
      font-weight: 800;
    }

    img {
      position: absolute;
      inset: 0;

      &.capa-0,
      &.capa-2,
      &.capa-3 {
        z-index: -1;
      }

      &.capa-1 {
        z-index: 2;
      }
    }
  }
</style>

<script>
  import { ParallaxEffect } from '@scripts/parallax'

  // eslint-disable-next-line no-new
  new ParallaxEffect({
    containerSelector: '.parallax-container', // Selector del contenedor
    childsSelector: '.parallax', // Selector de los hijos (imágenes en este caso)
    maxDisplacement: 50 // Desplazamiento máximo en píxeles
  })
</script>
