---
import type { ImageMetadata } from 'astro'
import slider from '@data/slider-images'
import { Picture } from 'astro:assets'
import '@styles/slider.css'

const getImages = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/slider/*.{jpeg,jpg,png}'
);
---

<section class="slider-container">
  <div class="embla">
    <div class="embla-viewport">
      <div class="embla-container">
        {
          slider.map(({ alt, src }) => (
            <div class="embla-slide">
              <Picture
                alt={alt}
                fetchpriority="low"
                formats={['avif', 'webp']}
                src={getImages[src]()}
                width={549}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  import '@scripts/slider'
</script>

<style>
  .slider-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    margin: 48px auto;

    & .embla {
      padding: 0;
      mask-image: linear-gradient(
        90deg,
        #0000 0%,
        #000 30% 50%,
        #000 70%,
        #0000 100%
      );
    }
  }
</style>
